.banner {
    width: 100%;
    height: 200px;
    background-color: gray;
}
.banner, p {
    font-size: 60px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
}
.fa-toilet-paper {
    position: relative;
    bottom: 180px;
    right: 220px;
}